/* Universal Styles */
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.center {
  text-align: center;
  padding-top: 2rem;
  font-size: 3rem;
}

.main-content {
  padding-top: 4rem;
  border-left: solid 2px #c6c1c1;
  border-right: solid 2px #c6c1c1;
}

.banner-image  {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.banner-image img {
  width: 100%;
}

.banner-image {
  overflow: hidden;
}

.content {
  padding-left: 1rem;
  vertical-align: top;
  width: 65%
}

.content h2 {
  font-size: 2rem;
  line-height: 1.5;
}

.content h4 {
  font-size: 1.2rem;
  color: #999999;
  line-height: 1.6;
}

/* Header */
.title {
  flex: 1;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
}

header .nav-content {
  font-size: 2rem;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
}

header .logo {
  flex: 1;
}

.desktop ul {
  display: flex;
}

nav li {
  padding-right: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

.mobile ul {
  display: none;
}

/* Mobile Optimization  */
@media only screen and (max-width: 560px) {

  .nav-content img {
    padding-right: 1rem;
  }

  .desktop ul {
    display: none;
  }

  .title, .title-two {
    display: none;
  }

  .mobile ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobile ul li {
    padding: 0 4rem 0 4rem;
  }

}

/* Information Section One */
.information-one {
  background-color: #d3d3d3;
  display: flex;
}

.learn {
  width: 40%;
  line-height: 1.2;
  margin-top: 150px;
  margin-right: 48px;
}

.learn h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

.learn p {
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

.button {
  border-radius: 1px;
  background-color: #4a4a4a;
  color: white;
  padding: 1.2rem 0;
  text-align: center;
  font-size: 1.5rem;
}

/* Mobile Optimization */
@media only screen and (max-width: 560px) {

  .information-one {
    flex-direction: column;
    align-items: center;
  }

  .banner-image {
    min-width: 100%;
    padding: 0;
  }

  .learn {
    margin: 2rem 1rem;
    width: auto;
  }

  .learn p {
    padding-bottom: 1.5rem;
  }

  .button {
    background-color: #9f9b9b;
  }

}

/* Information Section Two */
.information-two {
  display: flex;
}

.learn-more h1 {
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.2;
}

.learn-more p {
  font-size: 1.5rem;
  padding-bottom: 3rem;
  line-height: 1.2;
}

.sidebar-info {
  padding: 2rem 1rem;
  width: 40%;
  border-left: solid 1px #c6c1c1;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
  border-bottom: solid 1px #c6c1c1;
}

.sidebar-item:hover {
  background-color: #c6c1c1
}

.sidebar-image-container img {
  width: 100%;
  height: auto;
}

.sidebar-image-container-mobile img {
  display: none;
}

.read-more a {
  font-size: 1.2rem;
  line-height: 1.5;
  color: blue;
}

/* Mobile Optimization */
@media only screen and (max-width: 560px) {

  .information-two .banner-image {
    display: none;
  }

  .learn-more {
    display: none;
  }

  .sidebar-info {
    width: auto;
    padding: 1rem;
  }

  .sidebar-item {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    border-bottom: none;
  }

  .sidebar-item .content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .sidebar-image-container {
    display: none;
  }

  .sidebar-image-container-mobile img {

  }

  .sidebar-item:hover {
    background-color: transparent;
  }

}

/* Learning */
.learning {
    background-color: #e4e4e4;
}

.courses {
  padding: 1rem 3.5rem;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: space-between;
}

.course {
  margin: 1rem;
  background-color: white;
  max-width: 530px;
}

.course-image-container img {
  height: auto;
  width: 100%;
}

.course-content {
  padding: 1rem;
  overflow-wrap: break-word;
}

.course-content h2 {
  font-size: 2rem;
  line-height: 1.5;
  padding: 0.5rem;

}

.course-content h3 {
  font-size: 1.2rem;
  color: #999999;
  line-height: 1.5;
  padding: 0.5rem;
}

/* Mobile Optimization */
@media only screen and (max-width: 560px) {

  .learning {
    background-color: white;
    border: solid 1px #c6c1c1;
    padding-bottom: 2rem;
  }

  .courses {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .course {
    background-color: #c6c1c1;
    max-width: none;
    width: 94%;
    margin: 1rem 1rem 0.5rem 1rem;
  }

  .course-content {
    padding: 1rem 1rem 1.5rem 1rem;
  }

  .course-image-container {
    display: none;
  }

  .course-content h3 {
    display: none;
  }

}

/* Thesis Exhibit */
.exhibit {
  display: flex;
}

.video-exhibit  {
  max-width: 60%;
  padding: 2rem 1.5rem;
  overflow: hidden;
}

.video-exhibit video {
  width: 100%;
}

.main-paragraph h2 {
  font-size: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.2;
}

.main-paragraph p {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  line-height: 1.2;
}

.sidebar-info-exhibit {
  padding: 2rem 1rem;
  width: 40%;
}

.sidebar-item-exhibit {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
}

.sidebar-item-exhibit:hover {
  background-color: #c6c1c1
}

.sidebar-image-container img {
  width: 100%;
  height: auto;
}

/* Mobile Optimization */
@media only screen and (max-width: 560px) {

  .exhibit {
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
  }

  .video-exhibit {
    min-width: 100%;
    padding: 1rem 0 1.5rem 0;
  }

  .main-paragraph {
    display: none;
  }

  .sidebar-info-exhibit {
    display: none;
  }

}

/* Footer */
footer {
  border-top: solid 1px #c6c1c1;
  padding: 1rem 1.5rem;
  border-bottom: solid 2px #c6c1c1;
}

.footer {
  display: flex;
  align-items: center;
}

.copyright {
  flex: 1;
}

footer nav ul {
  display: flex;
}

/* Mobile Optimization */
@media only screen and (max-width: 560px) {

  footer {
    border: none;
  }

  footer nav ul {
    display: none;
  }

}
